.faqWrapper {
  width: 100%;
  display: flex;
  background-color: #eff2f5;
}
.contentContainer {
  width: 70%;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 30px;
  margin: 20px;
}
.contentContainer h2 {
  font-size: 30px;
  font-weight: 700;
}
.contentContainer h3 {
  font-size: 20px;
  font-weight: 700;
}
.contentContainer p {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 800px) {
  .contentContainer {
    width: 90%;
    padding: 10px;
  }
}
