.navContainer {
  width: 100%;
  height: 10vh;
  background-color: #ffff;
  top: 0px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.logo {
  margin: 30px;
  display: flex;
  align-items: center;
}
.navItems {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 15px;
}
.menuIcon {
  display: none;
}
.navItems h4 {
  font-size: 16px;
  font-weight: 600;
}
.signInButton {
  border: 1px solid #0052fe;
  color: #0052fe;
  border-radius: 5px;
  width: 8vw;
  height: 5vh;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffff;
  margin-right: 20px;
  margin-left: 20px;
}

@media (max-width: 800px) {
  .navContainer {
    height: auto;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .logo {
    margin: 20px 0;
    width: 100%;
    justify-content: space-around;
  }
  .navItems {
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .navItems.show {
    display: flex;
  }
  .navItems h4 {
    font-size: 16px;
  }
  .signInButton {
    width: 80%;
    margin: 10px 0;
  }
}
